.snoop_dogg {
  position: relative;
  width: 100%;
  height: auto;
  top: -50vh;
}

@media screen and (min-width: 701px) {
  .home-quote {
    font-size: 60px;
    line-height: 73px;
  }

  .pitt-shield {
    width: 8%;
  }
  
  .expand-more {
    width: 10%;
  }
}

@media screen and (max-width: 700px) {
  .home-quote {
    font-size: 30px;
    line-height: 50px;
  }

  .pitt-shield {
    width: 14%;
  }
  
  .expand-more {
    width: 16%;
  }
}

.home-quote {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-align: center;
  color: #18254B;
}

.yellow-overlay {
  background: #C6AC75;
  mix-blend-mode: screen;
}

.icons img {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}